

#membership{
    background-image: url(https://i.pinimg.com/736x/32/ee/6a/32ee6a9ed4edec8c63cfb5ebc69ac154.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex ;
    height: 400px;
    border-top: 15px solid rgb(120, 80, 45);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding-bottom: 4rem;
}

#membership h2{
    width: 100%;
    color: rgb(255, 247, 234);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

#membership p{
    width: 100%;
    color: rgb(255, 247, 234);
    text-align: center;
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.input-group {
    margin-top: 40px;
    position: relative;
}
  
.input-group .btn-submit {
    top: 40px;
    height: 40px;    
    background-color: rgb(120, 80, 45);
    color: rgb(255, 247, 234);
}
  
.input-group input {
    height: 50px;
    border: 3px solid rgb(120, 80, 45);
    padding-left: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    display: table-cell;
}

#slide {
    height: 450px;
    align-items: center;
    justify-content: center;
    width: 100%;   
}

.carousel-inner img{
    height: fit-content;
    width: 98.8vw;
}

.carousel-inner h3{
    color: rgb(255, 247, 234);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

#carousel{
    box-shadow: 0 0px 15px rgba(0,0,0,0.3);
    margin-top: 5rem;
}