#cart{
    text-align: center;
}

#cart-item-title{
    width: 900px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#no-added-products{
    padding: 20vh 30vh 30vh 30vh;
}

#empty-cart, #confirm-purchase{
    padding: 0px 14px 0px 14px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    height: 40px;    
    background-color: rgb(120, 80, 45);
    color: rgb(255, 247, 234);
    font-weight: bold;
    border: none;
}

#delete{
    border: none;
    background-color: rgb(120, 80, 45);
    color: rgb(255, 247, 234);
    font-weight: bold;
}